[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
pytorch-pretrained-bert = "*"
joblib = "*"
scikit-learn = "*"
requests = "*"
matplotlib = "*"
pandas = "*"
imbalanced-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
